<!DOCTYPE html>
<html>
<head>
  <title>ReportCat</title>
  <%= stylesheet_link_tag    "report_cat/application", media: "all" %>
  <%= javascript_include_tag "report_cat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
